body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    position: relative; /* Ajout de position relative pour que l'élément absolu soit positionné par rapport à lui */
}

.container {
    text-align: center;
}

h1 {
    font-family: "coolveticabd", sans-serif;
    font-size: 1em;
}

.logo {
    position: absolute;
    top: 20px; /* Ajustez cette valeur selon votre préférence pour l'espace en haut */
    left: 20px; /* Ajustez cette valeur selon votre préférence pour l'espace à gauche */
    width: 100px; /* Ajustez la largeur selon votre préférence */
    height: auto; /* Pour maintenir le ratio */
}
