body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    position: relative; /* Ajout de position relative pour que l'élément absolu soit positionné par rapport à lui */
}

.container {
    text-align: center;
}

h1 {
    font-family: "coolveticabd", sans-serif;
    font-size: 1em;
}
